<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shreekumar.mybillfizz2" >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/pointed_hat"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmNotificationReceiver"></receiver>
        <activity
            android:name=".GoalDisActivity"
            android:label="@string/title_activity_goal_dis"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true" >
            <service android:name=".NotificationUtils$NotificationActionService" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shreekumar.mybillfizz2.MainActivity" />
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="@string/title_activity_goal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shreekumar.mybillfizz2.GoalDisActivity" />
        </activity>
        <activity
            android:name=".GoalInfoActivity"
            android:label="@string/title_activity_goal_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shreekumar.mybillfizz2.GoalDisActivity" />
        </activity>
        <activity android:name=".Calc"
            android:label="Calculator"
            android:theme="@style/Theme.Floating">
        </activity>
    </application>

</manifest>
